.character-modal-card-placeholder, .character-modal-card {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.character-modal-card {
    top: calc(0% + 25vh);
    margin-left: -60px;
    position: absolute;
}

.character-modal-data-grid {
    gap: 2em;
    padding: 3em 4em;
}