.character-modal-card-placeholder, .character-modal-card {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.character-modal-card-placeholder {
    filter: var(--blur) var(--darkness);
}

.character-modal-card {
    margin-left: -3vw;
    position: absolute;
    max-height: 470px;
    max-width: 400px;
    width: 35%;
    height: 65%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.character-modal-data-grid {
    gap: 2em;
    padding: 3em 4em;
}