@import-normalize;

@font-face {
	font-family: "Nunito";
	src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-Black.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-ExtraLightItalic.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-Italic.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-Light.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-LightItalic.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-SemiBold.ttf") format("truetype"),
		url("../fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Seravek";
	src: url("../fonts/Seravek/Seravek.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-Bold.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-BoldItalic.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-ExtraLight.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-ExtraLightItalic.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-Italic.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-Light.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-LightItalic.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-Medium.ttf") format("truetype"),
		url("../fonts/Seravek/Seravek-MediumItalic.ttf") format("truetype"),
}

:root {
	--blur: blur(10px);
	--darkness: brightness(0.5);
	--grayscale: grayscale(1);
	--font-family: Nunito, Arial, sans-serif;
	--font-seravek: Seravek, var(--font-family);
	--black: #1E1E1E;
	--gray: #606060;
	--light-gray: #8C8C8C;
	--green: #66E5C7;
	--white: #FFFFFF;
	--yellow: #CBD736;
}

* {
	font-family: var(--font-family);
}

.app {
	background: url("../images/background.png") var(--black);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-pagination {
	padding: 30px;
}

.text-black {
	color: var(--black);
}

.text-gray {
	color: var(--gray);
}

.text-light-gray {
	color: var(--light-gray);
}

.text-green {
	color: var(--green);
}

.text-white {
	color: var(--white);
}

.text-yellow {
	color: var(--yellow);
}