{
    "env": {
        "browser": true
    },
    "extends": [
      "react-app",
      "react-app/jest"
    ],
    "rules": {
      "import/no-anonymous-default-export": 0,
      "semi": 2,
      "no-console": 2,
      "consistent-return": 2,
      "complexity": 2,
      "no-alert": 2,
      "no-else-return": 2,
      "vars-on-top": 2,
      "no-use-before-define": 2,
      "max-len": 2
    }
  }